/* Reset de body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* Header */
header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 40px;
  background-color: #ffffff;
  border-bottom: 2px solid #00539f;
}

/* Títulos */
h2 {
  color: #f3f6f9;
  margin-bottom: 15px;
  text-align: center;
}


/* centrar contenedor de listas */
.contenedor-listas {/* 1. Define un ancho para que el margen automático funcione */
    width: 80%;  /* O el valor que necesites, por ejemplo: 500px */
    margin: 0 auto;
}

/* Lista horizontal limpia */
.lista-horizontal {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0 auto 10px;
  background: none;
  border: none;
}

.lista-horizontal li {
  font-size: 18px;
  color: #ea49bf;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.lista-horizontal li:hover {
  color: #ff80c0; /* efecto hover */
}

/* Color de la segunda lista */
.lista-2 li {
  color: #d03772;
  position: relative; /* necesario para posicionar submenus */
}

/* Submenu oculto por defecto */
.submenu {
  display: none;
  position: absolute;
  top: 100%;       /* debajo del título */
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px 0;
  list-style: none;
  min-width: 150px;
  border-radius: 5px;
  z-index: 10;
}

/* Elementos del submenu */
.submenu li {
  padding: 5px 20px;
  cursor: pointer;
  color: #333;
}

.submenu li:hover {
  background-color: #e0e7ff;
}

/* Banner de imagen */
img {
  display: block;
  width: 100%;
  height: auto;
  margin: 40px 0;
}
